/* section-top */
.top {
    margin-top: 80px;
    height: 350px;
    background: linear-gradient(rgba(55, 56, 51, 0.8), rgba(41, 40, 46, 0.6)), url(../img/future.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.top .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 150px;
}

/* section-future-plan */
.future-plan .wrap{
    padding: 0 80px 30px;
    display: flex;
    justify-content: center;
}
.future-plan .wrap .text {
    width: 50%;
    padding: 40px;
}
.future-plan .wrap .text p {  
    line-height: 1.8;
    text-indent: 2em;
}
.future-plan .wrap .icon {
    box-sizing: border-box;
    width: 50%;
    padding: 40px;
}
.future-plan .wrap i {
    box-sizing: border-box;
    color: #fff;
    background-color: #d4a373;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 25px 20px;
}
.future-plan .icon-inner {
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.future-plan .bgc {  /*短中長目標*/
    background-color: #eee;
    box-sizing: border-box;
    padding: 30px;
}
.future-plan .wrap .item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.future-plan .wrap .item {
    box-sizing: border-box;
    background-color: #fff;
    width: 30%;
    margin: 0 30px;
    padding: 40px 30px 10px 50px;
    border-radius: 20px;
}
.future-plan .wrap .item ol {
    text-align: left;
    line-height: 1.8;
    padding: 0 6px 20px;
}
ol {  
    list-style: decimal;
    list-style-position: inside;  /*將 ol 數字 放入 div 裡面*/
    text-indent: -1em;  /*ol 第二行縮排*/
}
.future-plan .wrap .item h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 30px;
    text-align: center;
}
